### Datatypes

In [96]:
import pandas as pd
import numpy as np

In [161]:
# !wget https://www.kaggle.com/volpatto/coffee-quality-database-from-cqi?select=merged_data_cleaned.csv
df = pd.read_csv('../../data/coffee_data.csv')

### `copy()`: Make a copy of this objectâ€™s indices and data

In [162]:
df_coffee = df.copy(deep=True)

### `info()`: Print a concise summary of a DataFrame

In [163]:
df_coffee.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1339 entries, 0 to 1338
Data columns (total 44 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             1339 non-null   int64
 1   Species                1339 non-null   object
 2   Owner                  1332 non-null   object
 3   Country.of.Origin      1338 non-null   object
 4   Farm.Name              980 non-null    object
 5   Lot.Number             276 non-null    object
 6   Mill                   1021 non-null   object
 7   ICO.Number             1182 non-null   object
 8   Company                1130 non-null   object
 9   Altitude               1113 non-null   object
 10  Region                 1280 non-null   object
 11  Producer               1107 non-null   object
 12  Number.of.Bags         1339 non-null   int64
 13  Bag.Weight             1339 non-null   object
 14  In.Country.Partner     1339 non-null   object
 15  Harvest.Year           1292 non-null   object
 16  Grading.Date           1339 non-null   object
 17  Owner.1                1332 non-null   object
 18  Variety                1113 non-null   object
 19  Processing.Method      1169 non-null   object
 20  Aroma                  1339 non-null   float64
 21  Flavor                 1339 non-null   float64
 22  Aftertaste             1339 non-null   float64
 23  Acidity                1339 non-null   float64
 24  Body                   1339 non-null   float64
 25  Balance                1339 non-null   float64
 26  Uniformity             1339 non-null   float64
 27  Clean.Cup              1339 non-null   float64
 28  Sweetness              1339 non-null   float64
 29  Cupper.Points          1339 non-null   float64
 30  Total.Cup.Points       1339 non-null   float64
 31  Moisture               1339 non-null   float64
 32  Category.One.Defects   1339 non-null   int64
 33  Quakers                1338 non-null   float64
 34  Color                  1121 non-null   object
 35  Category.Two.Defects   1339 non-null   int64
 36  Expiration             1339 non-null   object
 37  Certification.Body     1339 non-null   object
 38  Certification.Address  1339 non-null   object
 39  Certification.Contact  1339 non-null   object
 40  unit_of_measurement    1339 non-null   object
 41  altitude_low_meters    1109 non-null   float64
 42  altitude_high_meters   1109 non-null   float64
 43  altitude_mean_meters   1109 non-null   float64
dtypes: float64(16), int64(4), object(24)
memory usage: 460.4+ KB

### `size`: Return an int representing the number of elements in this object

In [164]:
df_coffee.size

58916

### `shape`: Return a tuple representing the dimensionality of the DataFrame

In [165]:
df_coffee.shape

(1339, 44)

### `axes`: Return a list representing the axes of the DataFrame

In [166]:
df_coffee.axes

[RangeIndex(start=0, stop=1339, step=1),
 Index(['Unnamed: 0', 'Species', 'Owner', 'Country.of.Origin', 'Farm.Name',
        'Lot.Number', 'Mill', 'ICO.Number', 'Company', 'Altitude', 'Region',
        'Producer', 'Number.of.Bags', 'Bag.Weight', 'In.Country.Partner',
        'Harvest.Year', 'Grading.Date', 'Owner.1', 'Variety',
        'Processing.Method', 'Aroma', 'Flavor', 'Aftertaste', 'Acidity', 'Body',
        'Balance', 'Uniformity', 'Clean.Cup', 'Sweetness', 'Cupper.Points',
        'Total.Cup.Points', 'Moisture', 'Category.One.Defects', 'Quakers',
        'Color', 'Category.Two.Defects', 'Expiration', 'Certification.Body',
        'Certification.Address', 'Certification.Contact', 'unit_of_measurement',
        'altitude_low_meters', 'altitude_high_meters', 'altitude_mean_meters'],
       dtype='object')]

### `values`: Return a Numpy representation of the DataFrame

In [167]:
df_coffee.values

array([[0, 'Arabica', 'metad plc', ..., 1950.0, 2200.0, 2075.0],
       [1, 'Arabica', 'metad plc', ..., 1950.0, 2200.0, 2075.0],
       [2, 'Arabica', 'grounds for health admin', ..., 1600.0, 1800.0,
        1700.0],
       ...,
       [1336, 'Robusta', 'james moore', ..., 795.0, 795.0, 795.0],
       [1337, 'Robusta', 'cafe politico', ..., nan, nan, nan],
       [1338, 'Robusta', 'cafe politico', ..., nan, nan, nan]],
      dtype=object)

### `head()`: Returns first *n* rows

In [168]:
df_coffee.head(3)

,Unnamed: 0,Species,Owner,Country.of.Origin,Farm.Name,Lot.Number,Mill,ICO.Number,Company,Altitude,...,Color,Category.Two.Defects,Expiration,Certification.Body,Certification.Address,Certification.Contact,unit_of_measurement,altitude_low_meters,altitude_high_meters,altitude_mean_meters
0,0,Arabica,metad plc,Ethiopia,metad plc,NaN,metad plc,2014/2015,metad agricultural developmet plc,1950-2200,...,Green,0,"April 3rd, 2016",METAD Agricultural Development plc,309fcf77415a3661ae83e027f7e5f05dad786e44,19fef5a731de2db57d16da10287413f5f99bc2dd,m,"1,950.0","2,200.0","2,075.0"
1,1,Arabica,metad plc,Ethiopia,metad plc,NaN,metad plc,2014/2015,metad agricultural developmet plc,1950-2200,...,Green,1,"April 3rd, 2016",METAD Agricultural Development plc,309fcf77415a3661ae83e027f7e5f05dad786e44,19fef5a731de2db57d16da10287413f5f99bc2dd,m,"1,950.0","2,200.0","2,075.0"
2,2,Arabica,grounds for health admin,Guatemala,"san marcos barrancas ""san cristobal cuch",NaN,NaN,NaN,NaN,1600 - 1800 m,...,NaN,0,"May 31st, 2011",Specialty Coffee Association,36d0d00a3724338ba7937c52a378d085f2172daa,0878a7d4b9d35ddbf0fe2ce69a2062cceb45a660,m,"1,600.0","1,800.0","1,700.0"

### `tail()`: Returns last *n* rows

In [169]:
df_coffee.tail(3)

,Unnamed: 0,Species,Owner,Country.of.Origin,Farm.Name,Lot.Number,Mill,ICO.Number,Company,Altitude,...,Color,Category.Two.Defects,Expiration,Certification.Body,Certification.Address,Certification.Contact,unit_of_measurement,altitude_low_meters,altitude_high_meters,altitude_mean_meters
1336,1336,Robusta,james moore,United States,fazenda cazengo,NaN,cafe cazengo,NaN,global opportunity fund,795 meters,...,NaN,6,"December 23rd, 2015",Specialty Coffee Association,ff7c18ad303d4b603ac3f8cff7e611ffc735e720,352d0cf7f3e9be14dad7df644ad65efc27605ae2,m,795.0,795.0,795.0
1337,1337,Robusta,cafe politico,India,NaN,NaN,NaN,14-1118-2014-0087,cafe politico,NaN,...,Green,1,"August 25th, 2015",Specialty Coffee Association,ff7c18ad303d4b603ac3f8cff7e611ffc735e720,352d0cf7f3e9be14dad7df644ad65efc27605ae2,m,NaN,NaN,NaN
1338,1338,Robusta,cafe politico,Vietnam,NaN,NaN,NaN,NaN,cafe politico,NaN,...,None,9,"August 25th, 2015",Specialty Coffee Association,ff7c18ad303d4b603ac3f8cff7e611ffc735e720,352d0cf7f3e9be14dad7df644ad65efc27605ae2,m,NaN,NaN,NaN

### `sample()`: Return a random sample of items from an axis of object

In [170]:
df_coffee.sample(3)

,Unnamed: 0,Species,Owner,Country.of.Origin,Farm.Name,Lot.Number,Mill,ICO.Number,Company,Altitude,...,Color,Category.Two.Defects,Expiration,Certification.Body,Certification.Address,Certification.Contact,unit_of_measurement,altitude_low_meters,altitude_high_meters,altitude_mean_meters
1060,1060,Arabica,bourbon specialty coffees,Brazil,leticia farm,91,internacional armazens gerais,NaN,bourbon specialty coffees,NaN,...,Green,7,"March 11th, 2017",Brazil Specialty Coffee Association,3297cfa4c538e3dd03f72cc4082c54f7999e1f9d,8900f0bf1d0b2bafe6807a73562c7677d57eb980,m,NaN,NaN,NaN
219,219,Arabica,"ceca, s.a.",Costa Rica,gamboa,NaN,beneficio montaÃ±as del diamante,5-025-0111,"ceca,s.a.",1850,...,Blue-Green,0,"April 9th, 2016",Specialty Coffee Association of Costa Rica,528ec9cf40c1bab91ce8fae8e80c50f46627d2c6,5eb2b7129d9714c43825e44dc3bca9423de209e9,m,"1,850.0","1,850.0","1,850.0"
429,429,Arabica,calixto guillen vazquez,Mexico,various,NaN,productores de cafes especiales sc,2406,"finca triunfo verde, s.c.",1300,...,Green,6,"March 29th, 2014",AMECAFE,59e396ad6e22a1c22b248f958e1da2bd8af85272,0eb4ee5b3f47b20b049548a2fd1e7d4a2b70d0a7,m,"1,300.0","1,300.0","1,300.0"

### `describe()`: Generate descriptive statistics

In [171]:
df_coffee.describe()

,Unnamed: 0,Number.of.Bags,Aroma,Flavor,Aftertaste,Acidity,Body,Balance,Uniformity,Clean.Cup,Sweetness,Cupper.Points,Total.Cup.Points,Moisture,Category.One.Defects,Quakers,Category.Two.Defects,altitude_low_meters,altitude_high_meters,altitude_mean_meters
count,"1,339.0","1,339.0","1,339.0","1,339.0","1,339.0","1,339.0","1,339.0","1,339.0","1,339.0","1,339.0","1,339.0","1,339.0","1,339.0","1,339.0","1,339.0","1,338.0","1,339.0","1,109.0","1,109.0","1,109.0"
mean,669.0,154.2,7.6,7.5,7.4,7.5,7.5,7.5,9.8,9.8,9.9,7.5,82.1,0.1,0.5,0.2,3.6,"1,750.7","1,799.3","1,775.0"
std,386.7,130.0,0.4,0.4,0.4,0.4,0.4,0.4,0.6,0.8,0.6,0.5,3.5,0.0,2.5,0.8,5.3,"8,669.4","8,668.8","8,668.6"
min,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0
25%,334.5,14.0,7.4,7.3,7.2,7.3,7.3,7.3,10.0,10.0,10.0,7.2,81.1,0.1,0.0,0.0,0.0,"1,100.0","1,100.0","1,100.0"
50%,669.0,175.0,7.6,7.6,7.4,7.6,7.5,7.5,10.0,10.0,10.0,7.5,82.5,0.1,0.0,0.0,2.0,"1,310.6","1,350.0","1,310.6"
75%,"1,003.5",275.0,7.8,7.8,7.6,7.8,7.7,7.8,10.0,10.0,10.0,7.8,83.7,0.1,0.0,0.0,4.0,"1,600.0","1,650.0","1,600.0"
max,"1,338.0","1,062.0",8.8,8.8,8.7,8.8,8.6,8.8,10.0,10.0,10.0,10.0,90.6,0.3,63.0,11.0,55.0,"190,164.0","190,164.0","190,164.0"

In [172]:
pd.options.display.float_format = '{:,.1f}'.format
df_coffee.describe(include='all')

,Unnamed: 0,Species,Owner,Country.of.Origin,Farm.Name,Lot.Number,Mill,ICO.Number,Company,Altitude,...,Color,Category.Two.Defects,Expiration,Certification.Body,Certification.Address,Certification.Contact,unit_of_measurement,altitude_low_meters,altitude_high_meters,altitude_mean_meters
count,"1,339.0",1339,1332,1338,980,276,1021,1182,1130,1113,...,1121,"1,339.0",1339,1339,1339,1339,1339,"1,109.0","1,109.0","1,109.0"
unique,NaN,2,315,36,571,227,459,847,281,396,...,4,NaN,566,26,32,29,2,NaN,NaN,NaN
top,NaN,Arabica,juan luis alvarado romero,Mexico,various,1,beneficio ixchel,0,"unex guatemala, s.a.",1100,...,Green,NaN,"July 11th, 2013",Specialty Coffee Association,36d0d00a3724338ba7937c52a378d085f2172daa,0878a7d4b9d35ddbf0fe2ce69a2062cceb45a660,m,NaN,NaN,NaN
freq,NaN,1311,155,236,47,18,90,77,86,43,...,870,NaN,25,313,293,295,1157,NaN,NaN,NaN
mean,669.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,3.6,NaN,NaN,NaN,NaN,NaN,"1,750.7","1,799.3","1,775.0"
std,386.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,5.3,NaN,NaN,NaN,NaN,NaN,"8,669.4","8,668.8","8,668.6"
min,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,1.0,1.0,1.0
25%,334.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,"1,100.0","1,100.0","1,100.0"
50%,669.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,2.0,NaN,NaN,NaN,NaN,NaN,"1,310.6","1,350.0","1,310.6"
75%,"1,003.5",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,4.0,NaN,NaN,NaN,NaN,NaN,"1,600.0","1,650.0","1,600.0"
max,"1,338.0",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,55.0,NaN,NaN,NaN,NaN,NaN,"190,164.0","190,164.0","190,164.0"

### `dtypes`: Return the dtypes in the DataFrame

In [173]:
df_coffee.dtypes

Unnamed: 0                 int64
Species                   object
Owner                     object
Country.of.Origin         object
Farm.Name                 object
Lot.Number                object
Mill                      object
ICO.Number                object
Company                   object
Altitude                  object
Region                    object
Producer                  object
Number.of.Bags             int64
Bag.Weight                object
In.Country.Partner        object
Harvest.Year              object
Grading.Date              object
Owner.1                   object
Variety                   object
Processing.Method         object
Aroma                    float64
Flavor                   float64
Aftertaste               float64
Acidity                  float64
Body                     float64
Balance                  float64
Uniformity               float64
Clean.Cup                float64
Sweetness                float64
Cupper.Points            float64
Total.Cup.Points         float64
Moisture                 float64
Category.One.Defects       int64
Quakers                  float64
Color                     object
Category.Two.Defects       int64
Expiration                object
Certification.Body        object
Certification.Address     object
Certification.Contact     object
unit_of_measurement       object
altitude_low_meters      float64
altitude_high_meters     float64
altitude_mean_meters     float64
dtype: object

### `convert_dtypes()`: Convert columns to best possible dtypes using dtypes supporting

In [174]:
df_coffee.convert_dtypes().dtypes

Unnamed: 0                 Int64
Species                   string
Owner                     string
Country.of.Origin         string
Farm.Name                 string
Lot.Number                string
Mill                      string
ICO.Number                string
Company                   string
Altitude                  string
Region                    string
Producer                  string
Number.of.Bags             Int64
Bag.Weight                string
In.Country.Partner        string
Harvest.Year              string
Grading.Date              string
Owner.1                   string
Variety                   string
Processing.Method         string
Aroma                    Float64
Flavor                   Float64
Aftertaste               Float64
Acidity                  Float64
Body                     Float64
Balance                  Float64
Uniformity               Float64
Clean.Cup                Float64
Sweetness                Float64
Cupper.Points            Float64
Total.Cup.Points         Float64
Moisture                 Float64
Category.One.Defects       Int64
Quakers                    Int64
Color                     string
Category.Two.Defects       Int64
Expiration                string
Certification.Body        string
Certification.Address     string
Certification.Contact     string
unit_of_measurement       string
altitude_low_meters      Float64
altitude_high_meters     Float64
altitude_mean_meters     Float64
dtype: object

### `nunique()`: Count number of distinct elements in specified axis

In [175]:
df_coffee.nunique()

Unnamed: 0               1339
Species                     2
Owner                     315
Country.of.Origin          36
Farm.Name                 571
Lot.Number                227
Mill                      459
ICO.Number                847
Company                   281
Altitude                  396
Region                    356
Producer                  692
Number.of.Bags            131
Bag.Weight                 56
In.Country.Partner         27
Harvest.Year               46
Grading.Date              567
Owner.1                   319
Variety                    29
Processing.Method           5
Aroma                      33
Flavor                     35
Aftertaste                 35
Acidity                    31
Body                       33
Balance                    33
Uniformity                 10
Clean.Cup                  11
Sweetness                  17
Cupper.Points              42
Total.Cup.Points          180
Moisture                   23
Category.One.Defects       18
Quakers                    11
Color                       4
Category.Two.Defects       38
Expiration                566
Certification.Body         26
Certification.Address      32
Certification.Contact      29
unit_of_measurement         2
altitude_low_meters       198
altitude_high_meters      198
altitude_mean_meters      211
dtype: int64

### `astype()`: Cast a pandas object to a specified dtype

In [176]:
df_coffee[['Species', 'Country.of.Origin']] = df_coffee[['Species', 'Country.of.Origin']].astype('category')

In [177]:
df_coffee.dtypes

Unnamed: 0                  int64
Species                  category
Owner                      object
Country.of.Origin        category
Farm.Name                  object
Lot.Number                 object
Mill                       object
ICO.Number                 object
Company                    object
Altitude                   object
Region                     object
Producer                   object
Number.of.Bags              int64
Bag.Weight                 object
In.Country.Partner         object
Harvest.Year               object
Grading.Date               object
Owner.1                    object
Variety                    object
Processing.Method          object
Aroma                     float64
Flavor                    float64
Aftertaste                float64
Acidity                   float64
Body                      float64
Balance                   float64
Uniformity                float64
Clean.Cup                 float64
Sweetness                 float64
Cupper.Points             float64
Total.Cup.Points          float64
Moisture                  float64
Category.One.Defects        int64
Quakers                   float64
Color                      object
Category.Two.Defects        int64
Expiration                 object
Certification.Body         object
Certification.Address      object
Certification.Contact      object
unit_of_measurement        object
altitude_low_meters       float64
altitude_high_meters      float64
altitude_mean_meters      float64
dtype: object

### `unique()`: Uniques are returned in order of appearance

In [178]:
df_coffee['Species'].unique()

['Arabica', 'Robusta']
Categories (2, object): ['Arabica', 'Robusta']

### `value_counts()`: Return a Series containing counts of unique values

In [179]:
df_coffee['Species'].value_counts()

Arabica    1311
Robusta      28
Name: Species, dtype: int64

### `get_dummies()`: Convert categorical variable into dummy/indicator variables

In [180]:
pd.get_dummies(df_coffee['Species'])

      Arabica  Robusta
0           1        0
1           1        0
2           1        0
3           1        0
4           1        0
...       ...      ...
1334        0        1
1335        0        1
1336        0        1
1337        0        1
1338        0        1

[1339 rows x 2 columns]

### Create columns based on `dummy values` (variable that takes values of 0 for absence and 1 for presence of something)

In [181]:
df_coffee[['Arabica', 'Robusta']] = pd.get_dummies(df_coffee['Species'])
df_coffee.sample(3)

,Unnamed: 0,Species,Owner,Country.of.Origin,Farm.Name,Lot.Number,Mill,ICO.Number,Company,Altitude,...,Expiration,Certification.Body,Certification.Address,Certification.Contact,unit_of_measurement,altitude_low_meters,altitude_high_meters,altitude_mean_meters,Arabica,Robusta
23,23,Arabica,cqi q coffee sample representative,United States,la curva,NaN,NaN,unknown,coffee quality institute,meters above sea level: 2.112,...,"March 12th, 2016",AlmacafÃ©,e493c36c2d076bf273064f7ac23ad562af257a25,70d3c0c26f89e00fdae6fb39ff54f0d2eb1c38ab,m,"2,112.0","2,112.0","2,112.0",1,0
415,415,Arabica,kona pacific farmers cooperative,United States (Hawaii),NaN,NaN,NaN,HDOA #210307,NaN,NaN,...,"February 24th, 2012",Specialty Coffee Association,36d0d00a3724338ba7937c52a378d085f2172daa,0878a7d4b9d35ddbf0fe2ce69a2062cceb45a660,ft,NaN,NaN,NaN,1,0
912,912,Arabica,elsy reyes,Honduras,las cuchillas,98,cigrah,13-111-083,cigrah,1400,...,"June 3rd, 2018",Instituto HondureÃ±o del CafÃ©,b4660a57e9f8cc613ae5b8f02bfce8634c763ab4,7f521ca403540f81ec99daec7da19c2788393880,m,"1,400.0","1,400.0","1,400.0",1,0

### Create a new column with specified value

In [182]:
df_coffee['ones'] = 1
df_coffee.sample(3)

,Unnamed: 0,Species,Owner,Country.of.Origin,Farm.Name,Lot.Number,Mill,ICO.Number,Company,Altitude,...,Certification.Body,Certification.Address,Certification.Contact,unit_of_measurement,altitude_low_meters,altitude_high_meters,altitude_mean_meters,Arabica,Robusta,ones
808,808,Arabica,jorge octavio escamilla prado,Mexico,la ceiba,NaN,NaN,1104355254,NaN,940,...,AMECAFE,59e396ad6e22a1c22b248f958e1da2bd8af85272,0eb4ee5b3f47b20b049548a2fd1e7d4a2b70d0a7,m,940.0,940.0,940.0,1,0,1
971,971,Arabica,"exportadora atlantic, s.a.",Nicaragua,las promesas de san blass,017-053-0134,beneficio atlantic planta procedora condega,017-053-0134,exportadora atlantic s.a,1200,...,Instituto HondureÃ±o del CafÃ©,b4660a57e9f8cc613ae5b8f02bfce8634c763ab4,7f521ca403540f81ec99daec7da19c2788393880,m,"1,200.0","1,200.0","1,200.0",1,0,1
1178,1178,Arabica,the coffee source inc.,Colombia,several,NaN,spot,3-279-390,the coffee source inc.,1200,...,Specialty Coffee Association,36d0d00a3724338ba7937c52a378d085f2172daa,0878a7d4b9d35ddbf0fe2ce69a2062cceb45a660,m,"1,200.0","1,200.0","1,200.0",1,0,1

### Generate random dates

In [183]:
min_date = pd.to_datetime('2000-01-01')
max_date = pd.to_datetime('2020-12-31')

d = (max_date - min_date).days + 1

df_coffee['Dates'] = min_date + pd.to_timedelta(np.random.randint(d,size=1339), unit='d')
df_coffee.sample(3)

,Unnamed: 0,Species,Owner,Country.of.Origin,Farm.Name,Lot.Number,Mill,ICO.Number,Company,Altitude,...,Certification.Address,Certification.Contact,unit_of_measurement,altitude_low_meters,altitude_high_meters,altitude_mean_meters,Arabica,Robusta,ones,Dates
230,230,Arabica,afca,Uganda,NaN,NaN,great lakes coffee,x,great lakes coffee,1500-1700m,...,073285c0d45e2f5539012d969937e529564fa6fe,c4ab13415cdd69376a93780c0166e7b1a10481ea,m,"1,500.0","1,700.0","1,600.0",1,0,1,2020-05-31
857,857,Arabica,exportadora de cafe condor s.a,Colombia,NaN,NaN,triladora bonanza-armenia,3-68-0206,NaN,1600-1800 msnm,...,e493c36c2d076bf273064f7ac23ad562af257a25,70d3c0c26f89e00fdae6fb39ff54f0d2eb1c38ab,m,"1,600.0","1,800.0","1,700.0",1,0,1,2011-10-13
498,498,Arabica,ipanema coffees,Brazil,capoeirinha,007/16F,dry mill,002/1660/0105,ipanema coffees,872,...,3297cfa4c538e3dd03f72cc4082c54f7999e1f9d,8900f0bf1d0b2bafe6807a73562c7677d57eb980,m,872.0,872.0,872.0,1,0,1,2010-11-30

### `to_datetime()`: Convert argument to datetime

In [184]:
pd.to_datetime(df_coffee['Dates'], errors='coerce', format='%Y/%m/%d')
df_coffee.sample(3)

,Unnamed: 0,Species,Owner,Country.of.Origin,Farm.Name,Lot.Number,Mill,ICO.Number,Company,Altitude,...,Certification.Address,Certification.Contact,unit_of_measurement,altitude_low_meters,altitude_high_meters,altitude_mean_meters,Arabica,Robusta,ones,Dates
942,942,Arabica,kurt kappeli,Mexico,various,NaN,cafe gourmet de sierra azul sc,0016-2814-0001,globus coffee,1550 meter,...,36d0d00a3724338ba7937c52a378d085f2172daa,0878a7d4b9d35ddbf0fe2ce69a2062cceb45a660,m,"1,550.0","1,550.0","1,550.0",1,0,1,2000-09-14
312,312,Arabica,exportadora de cafe condor s.a,Colombia,NaN,NaN,trilladora boananza,3-68-0124,NaN,1600 msnm,...,e493c36c2d076bf273064f7ac23ad562af257a25,70d3c0c26f89e00fdae6fb39ff54f0d2eb1c38ab,m,"1,600.0","1,600.0","1,600.0",1,0,1,2020-08-28
981,981,Arabica,bourbon specialty coffees,Brazil,juliana,NaN,NaN,002/454-2/0379,bourbon specialty coffees,NaN,...,567f200bcc17a90070cb952647bf88141ad9c80c,aa2ff513ffb9c844462a1fb07c599bce7f3bb53d,m,NaN,NaN,NaN,1,0,1,2004-08-16

In [185]:
df_coffee.convert_dtypes().dtypes

Unnamed: 0                        Int64
Species                        category
Owner                            string
Country.of.Origin              category
Farm.Name                        string
Lot.Number                       string
Mill                             string
ICO.Number                       string
Company                          string
Altitude                         string
Region                           string
Producer                         string
Number.of.Bags                    Int64
Bag.Weight                       string
In.Country.Partner               string
Harvest.Year                     string
Grading.Date                     string
Owner.1                          string
Variety                          string
Processing.Method                string
Aroma                           Float64
Flavor                          Float64
Aftertaste                      Float64
Acidity                         Float64
Body                            Float64
Balance                         Float64
Uniformity                      Float64
Clean.Cup                       Float64
Sweetness                       Float64
Cupper.Points                   Float64
Total.Cup.Points                Float64
Moisture                        Float64
Category.One.Defects              Int64
Quakers                           Int64
Color                            string
Category.Two.Defects              Int64
Expiration                       string
Certification.Body               string
Certification.Address            string
Certification.Contact            string
unit_of_measurement              string
altitude_low_meters             Float64
altitude_high_meters            Float64
altitude_mean_meters            Float64
Arabica                           UInt8
Robusta                           UInt8
ones                              Int64
Dates                    datetime64[ns]
dtype: object

### `rename()`: Alter axes labels

In [186]:
df_coffee.rename(columns={'Country.of.Origin': 'Country'}, inplace=True)
df_coffee.columns

Index(['Unnamed: 0', 'Species', 'Owner', 'Country', 'Farm.Name', 'Lot.Number',
       'Mill', 'ICO.Number', 'Company', 'Altitude', 'Region', 'Producer',
       'Number.of.Bags', 'Bag.Weight', 'In.Country.Partner', 'Harvest.Year',
       'Grading.Date', 'Owner.1', 'Variety', 'Processing.Method', 'Aroma',
       'Flavor', 'Aftertaste', 'Acidity', 'Body', 'Balance', 'Uniformity',
       'Clean.Cup', 'Sweetness', 'Cupper.Points', 'Total.Cup.Points',
       'Moisture', 'Category.One.Defects', 'Quakers', 'Color',
       'Category.Two.Defects', 'Expiration', 'Certification.Body',
       'Certification.Address', 'Certification.Contact', 'unit_of_measurement',
       'altitude_low_meters', 'altitude_high_meters', 'altitude_mean_meters',
       'Arabica', 'Robusta', 'ones', 'Dates'],
      dtype='object')

### Convert columns to a list

In [187]:
list(df_coffee)

['Unnamed: 0',
 'Species',
 'Owner',
 'Country',
 'Farm.Name',
 'Lot.Number',
 'Mill',
 'ICO.Number',
 'Company',
 'Altitude',
 'Region',
 'Producer',
 'Number.of.Bags',
 'Bag.Weight',
 'In.Country.Partner',
 'Harvest.Year',
 'Grading.Date',
 'Owner.1',
 'Variety',
 'Processing.Method',
 'Aroma',
 'Flavor',
 'Aftertaste',
 'Acidity',
 'Body',
 'Balance',
 'Uniformity',
 'Clean.Cup',
 'Sweetness',
 'Cupper.Points',
 'Total.Cup.Points',
 'Moisture',
 'Category.One.Defects',
 'Quakers',
 'Color',
 'Category.Two.Defects',
 'Expiration',
 'Certification.Body',
 'Certification.Address',
 'Certification.Contact',
 'unit_of_measurement',
 'altitude_low_meters',
 'altitude_high_meters',
 'altitude_mean_meters',
 'Arabica',
 'Robusta',
 'ones',
 'Dates']

### `drop()`: Drop specified labels from rows or columns

In [188]:
df_coffee.drop(['ones'], axis=1, inplace=True)
df_coffee.head(3)

,Unnamed: 0,Species,Owner,Country,Farm.Name,Lot.Number,Mill,ICO.Number,Company,Altitude,...,Certification.Body,Certification.Address,Certification.Contact,unit_of_measurement,altitude_low_meters,altitude_high_meters,altitude_mean_meters,Arabica,Robusta,Dates
0,0,Arabica,metad plc,Ethiopia,metad plc,NaN,metad plc,2014/2015,metad agricultural developmet plc,1950-2200,...,METAD Agricultural Development plc,309fcf77415a3661ae83e027f7e5f05dad786e44,19fef5a731de2db57d16da10287413f5f99bc2dd,m,"1,950.0","2,200.0","2,075.0",1,0,2016-02-06
1,1,Arabica,metad plc,Ethiopia,metad plc,NaN,metad plc,2014/2015,metad agricultural developmet plc,1950-2200,...,METAD Agricultural Development plc,309fcf77415a3661ae83e027f7e5f05dad786e44,19fef5a731de2db57d16da10287413f5f99bc2dd,m,"1,950.0","2,200.0","2,075.0",1,0,2009-12-28
2,2,Arabica,grounds for health admin,Guatemala,"san marcos barrancas ""san cristobal cuch",NaN,NaN,NaN,NaN,1600 - 1800 m,...,Specialty Coffee Association,36d0d00a3724338ba7937c52a378d085f2172daa,0878a7d4b9d35ddbf0fe2ce69a2062cceb45a660,m,"1,600.0","1,800.0","1,700.0",1,0,2003-04-06

In [189]:
df_coffee.drop([0, 1], inplace=True)
df_coffee.head(3)

,Unnamed: 0,Species,Owner,Country,Farm.Name,Lot.Number,Mill,ICO.Number,Company,Altitude,...,Certification.Body,Certification.Address,Certification.Contact,unit_of_measurement,altitude_low_meters,altitude_high_meters,altitude_mean_meters,Arabica,Robusta,Dates
2,2,Arabica,grounds for health admin,Guatemala,"san marcos barrancas ""san cristobal cuch",NaN,NaN,NaN,NaN,1600 - 1800 m,...,Specialty Coffee Association,36d0d00a3724338ba7937c52a378d085f2172daa,0878a7d4b9d35ddbf0fe2ce69a2062cceb45a660,m,"1,600.0","1,800.0","1,700.0",1,0,2003-04-06
3,3,Arabica,yidnekachew dabessa,Ethiopia,yidnekachew dabessa coffee plantation,NaN,wolensu,NaN,yidnekachew debessa coffee plantation,1800-2200,...,METAD Agricultural Development plc,309fcf77415a3661ae83e027f7e5f05dad786e44,19fef5a731de2db57d16da10287413f5f99bc2dd,m,"1,800.0","2,200.0","2,000.0",1,0,2001-04-27
4,4,Arabica,metad plc,Ethiopia,metad plc,NaN,metad plc,2014/2015,metad agricultural developmet plc,1950-2200,...,METAD Agricultural Development plc,309fcf77415a3661ae83e027f7e5f05dad786e44,19fef5a731de2db57d16da10287413f5f99bc2dd,m,"1,950.0","2,200.0","2,075.0",1,0,2020-07-26

In [190]:
df_coffee.drop(columns=['Lot.Number', 'Mill'], index=[2, 3], inplace=True)
df_coffee.head(3)

,Unnamed: 0,Species,Owner,Country,Farm.Name,ICO.Number,Company,Altitude,Region,Producer,...,Certification.Body,Certification.Address,Certification.Contact,unit_of_measurement,altitude_low_meters,altitude_high_meters,altitude_mean_meters,Arabica,Robusta,Dates
4,4,Arabica,metad plc,Ethiopia,metad plc,2014/2015,metad agricultural developmet plc,1950-2200,guji-hambela,METAD PLC,...,METAD Agricultural Development plc,309fcf77415a3661ae83e027f7e5f05dad786e44,19fef5a731de2db57d16da10287413f5f99bc2dd,m,"1,950.0","2,200.0","2,075.0",1,0,2020-07-26
5,5,Arabica,ji-ae ahn,Brazil,NaN,NaN,NaN,NaN,NaN,NaN,...,Specialty Coffee Institute of Asia,726e4891cf2c9a4848768bd34b668124d12c4224,b70da261fcc84831e3e9620c30a8701540abc200,m,NaN,NaN,NaN,1,0,2002-01-15
6,6,Arabica,hugo valdivia,Peru,NaN,NaN,richmond investment-coffee department,NaN,NaN,HVC,...,Specialty Coffee Institute of Asia,726e4891cf2c9a4848768bd34b668124d12c4224,b70da261fcc84831e3e9620c30a8701540abc200,m,NaN,NaN,NaN,1,0,2019-10-30

### `duplicated()`: Return boolean Series denoting duplicate rows

In [196]:
df_coffee.duplicated(subset=['Farm.Name'])

4       False
5       False
6        True
7       False
8        True
        ...
1334    False
1335     True
1336    False
1337     True
1338     True
Length: 1335, dtype: bool

In [194]:
df_coffee.duplicated(keep='first', subset=['Species'])

4       False
5        True
6        True
7        True
8        True
        ...
1334     True
1335     True
1336     True
1337     True
1338     True
Length: 1335, dtype: bool

In [195]:
df_coffee.duplicated(keep='last', subset=['Species'])

4        True
5        True
6        True
7        True
8        True
        ...
1334     True
1335     True
1336     True
1337     True
1338    False
Length: 1335, dtype: bool